* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #8491a3;
    background-color: #f7fff6;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #BCEBCB;
    display: flex;
    justify-content: space-between;
    flex: wrap;
    color: #8491A3;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #8491A3;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 3px solid;
    display: inline-block;
}