* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #8491a3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #BCEBCB;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #8491A3;
    flex-direction: row;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin-left: -50px;
    margin-right: 20px;
    background-color: #f7fff6;
    padding-left: 75px;
    padding-right: 20px;
}

header a {
    text-decoration: none;
    color: #8491A3;
}

header nav {
    margin: 7px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    border-bottom: 3px solid;
    display: inline-block;
    transition: all 0.4s ease-in;
}
header nav ul li a:hover {
    background-color: #8491A3;
    background-size: 100% 100%;
    color: #BCEBCB;
    border-radius: 5px;
}

.hero {
    background-image: url("../images/hero.jpg");
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 100px;
    background-size: cover;
    background-blend-mode: soft-light;
    min-height: 25vh;
    padding: 2% 6%;
    text-align: right;
}

.hero h2 {
    font-style: italic;
    font-size: 55px;
    color: #BCEBCB;
    background-color: #8491A3;
    padding: 0 100px;
    margin: 0;
}

main {
    max-width: 88%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

.section-info {
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px 0;
}

.section-info h2 {
    flex: 0 0 20%;
    text-align: right;
    border-right: 3px solid;
    font-size: 4vw;
    color: #8491A3;
    margin-bottom: 35px;
    padding-right: 15px;
    font-weight: lighter;
}

.section-info > div {
    flex: 0 0 77%;
}

.section-info img {
    width: 100%;
    border-radius: 15px;
    border: 5px solid #BCEBCB;
}

.section-info p {
    line-height: 1.7;
    color: #8491a3;
    font-size: 20px;
    margin-bottom: 20px;
}

.box-item {
    border-radius: 15px;
    position: relative;
    text-align: center;
}

.box-item name {
    background-color: #BCEBCB;
    position: absolute;
    bottom: 20px;
    left: 5px;
    padding-right: 125px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-top: 12px;
    border-radius: 0 5px 5px 0;
} 

.box-item h3 {
    position: fixed;
    background-color: #BCEBCB;
    position: absolute;
    bottom: 20px;
    left: 20px;
    line-height: 2.2;
}

.box-item span {
    position: fixed;
    background-color: #BCEBCB;
    position: absolute;
    bottom: 1px;
    left: 20px;
    line-height: 1.6;
}

.run-buddy {

}